@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:white;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background:white;
}