@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background: #10100c; 
}
.movie-page {
  position: relative;
}



.navbar {
  transition: background-color 0.3s ease; 
  z-index: 1;
}

.navbar.opaque {
  background-color: #10100c;
  /* position: fixed; */
}

img,.film-background{
  width: 100%;
  height: 80vh;
}

input:focus {
  outline: none; /* Remove default focus outline */
  border: none;  /* Remove default border */
  /* Add any additional styling as needed */
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.transition-animation {
  transition: background 2s ease-in-out;
}

.logo{
 font-family: "Brush Script MT";
}

.title{
  position: relative;
}
.title::after{
  position: absolute;
  content: "";
  width: 80%;
  padding: 2px;
  background-color: #b9004e;
  height: 4px;
  bottom: -8px;
  left: 10%; 
  right: 10%; 
}

.genre-item {
  transition: background-color 0.3s, transform 0.3s; /* Add smooth transitions for background color and size changes */
}

.genre-item:hover {
  background-color: #b9004e; /* Change background color on hover */
  transform: scale(1.08); /* Increase size on hover */
}


@keyframes moveSpotlight {
  0% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}

.animated-div {
  position: relative;
}

.spotlight {
  width: 10px;
  height: 10px;
  background-color: white; /* Change the color as needed */
  box-shadow: yellow 1px 1px 20px;
  border-radius: 50%;
  position: absolute;
  animation: moveSpotlight 1.3s infinite linear;
  backdrop-filter: blur(10px);
}

@keyframes lightAndTurnOff {
  0% {
      border-color: lightblue;
  }
  50% {
      border-color: orange;
      scale: 1.1;
  }
  100% {
      border-color: lightblue;
  }
}

.animated-border {
  animation: lightAndTurnOff 1.5s infinite;
}



/* .random {

  transition: background 0.3s ease; 

  &:hover {
      background-image: none; 
  }
} */
.box .hovered {
  transition: background-image 3s ease-in-out;
}

.notInwatchlist{
  top: -0.5%;
  right: -4%;
  opacity: 0.5;
  user-select: none;
}
@media only screen and (min-width: 1200px) {
  .notInwatchlist:hover{
    opacity: 1;
  }
}


.inWatchList{
  top: -0.5%;
  right: -4%;
  opacity: 1;
  user-select: none;
}

.watchList{
  transition: background-color 1s;
}

input, textarea, select {
  text-size-adjust: 100%;
}
img {
  user-select: none;
}
.active{
 position: relative; 
}

.active::after{
  position: absolute;
  content: "";
  width: 60%;
  padding: 2px;
  background-color: #b9004e;
  height: 4px;
  bottom: -8px;
  left: 20%; 
  /* right: 30%;  */
}